@font-face {
  font-family: 'Arimo';
  src: url('/src/fonts/arimo.ttf');
  src: url('/src/fonts/arimo.woff2');
  src: url('/src/fonts/arimo.woff');
}

@font-face {
  font-family: 'ArimoBold';
  src: url('/src/fonts/arimobold.ttf');
  src: url('/src/fonts/arimobold.woff2');
  src: url('/src/fonts/arimobold.woff');
}

@font-face {
  font-family: 'OpenSans';
  src: url('/src/fonts/opensans.ttf');
  src: url('/src/fonts/opensans.woff2');
  src: url('/src/fonts/opensans.woff');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('/src/fonts/opensansbold.ttf');
  src: url('/src/fonts/opensansbold.woff2');
  src: url('/src/fonts/opensansbold.woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/fonts/Roboto-Regular.ttf');
  src: url('/src/fonts/Roboto-Regular.eot');
  src: url('/src/fonts/Roboto-Regular.woff');
}

@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/Inter-VariableFont_slnt,wght.ttf');
}